.project-card {
  display: flex;
  margin: 5rem auto;
  border-radius: 10px;
  margin-bottom: 4rem;
  padding: 1rem;
  flex-flow: column;

}

.tech-stack {
  display: flex;
  gap: 0.5rem;
}

.project-text-container {
  padding-left: 2rem;
  display: flex;
  flex-flow: column;
  align-items: start;
  /* border: 1px solid red; */
  row-gap: 1rem;
}

.project-title {
  font-size: 1.4rem;
  padding-top: 0.5rem;
  text-transform: capitalize;
}

.project-description {
  line-height: 1.3;
}

.project-features {
  font-size: 1rem;
}

.tech-stack-title {
  font-size: 1rem;
  margin: 0.5rem 0;

}

.project-video-container {
  width: 100%;
}

.project-video {
  border-radius: 10px;
  cursor: pointer;
  /* temp styles */
  max-width: 24rem;
  min-width: 20rem;
  margin: 0 auto;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  row-gap: 0.6rem;
  padding: 3.5rem;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);

}

.small-text {
  font-size: 0.8rem;
}

.icon-size {
  font-size: 1.5rem;
}

.feature-check {
  display: flex;
  flex-flow: column;
  row-gap: 0.8rem;
}

.project-info span {
  margin-left: 0.4rem;
}



@media(min-width: 471px) {
  .project-card {
    max-width: 30rem;
  }
}

@media (min-width: 900px) {
  .project-card {
    flex-flow: row;
    max-width: 62rem;
  }

  .project-text-container {
    padding-left: 5rem;
  }

  .project-video {
    margin: 0;
    max-width: 35rem;
    height: 100%;
  }
  .project-video-container {
  width: 50%;
}

}