.project-card {
  max-width: 62rem;
  display: flex;
  margin: 5rem auto;
  /* border: 1px solid white; */
  border-radius: 10px;
  margin-bottom: 4rem;
  padding: 1rem;
}

.tech-stack {
  display: flex;
  gap: 0.5rem;
}

.project-text-container {
  padding-left: 2rem;
  display: flex;
  flex-flow: column;
  row-gap: 0.6rem;
}

.project-title {
  font-size: 1.4rem;
  padding-top: 0.5rem;
  text-transform: capitalize;
}

.project-description {
  line-height: 1.3;
}

.project-features {
  font-size: 1rem;
}

.tech-stack-title{
   font-size: 1rem;
   margin: 0.5rem 0;

}

.project-video-container {
  max-width: 30rem;
}

.project-video {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  /* temp styles */
  /* border: 1px solid red; */
  max-width: 25rem;
  min-width: 30rem;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  row-gap: 0.6rem;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);

}

.small-text {
  font-size: 0.8rem;
}

.icon-size{
  font-size: 1.5rem;
}
.feature-check{
  display: flex;
  flex-flow: column;
  row-gap: 0.3rem;
}

@media (max-width: 996px) {
  .project-card {
    flex-direction: column;
    align-items: center;
    max-width: 35rem;
  }

}

@media(max-width: 676px) {
  .project-card {
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
  }
}


.project-info span {
  margin-left: 0.4rem;
}