.project-card {
  max-width: 62rem;
  display: flex;
  margin: 5rem auto;
  /* border: 1px solid white; */
  border-radius: 10px;
  margin-bottom: 4rem;
  padding: 1rem;
}

.project-text-container {
  /* padding: 1.2rem 1.5rem; */
  /* padding-top: 1.5rem;*/
  padding-left: 2rem; 
}

.project-title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.project-description {
  line-height: 1.3;
}

.project-features {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}

.project-video-container {
  max-width: 30rem;
}

.project-video {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
  border-radius: 10px;
  cursor: pointer;

}


@media (max-width: 996px) {
  .project-card {
    flex-direction: column;
    align-items: center;
    max-width: 35rem;
  }

}

@media(max-width: 676px) {
  .project-card {
    flex-direction: column;
    align-items: center;
    max-width: 30rem;
  }
}


.project-info span {
  margin-left: 0.4rem;
}